.contact-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #0a192f;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.contact-form label{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #333;
}
.contact-form input{
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
.contact-form button{
    padding: 10px;
    background-color: #0a192f;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: #112240;
}
