header{
    background-color: #0a192f;
    padding: 20px;
    color: white;
    display: flex;
    border: 1px solid #ccc;
}
.logo{
    height: 40px;
    margin-right: 20px;
}
.logo h1{
    font-size: 24px;
    margin: 0;
}
.logo img{
    height: 100%;
}
.header nav{
    margin-left: auto;
    display: flex;
    gap: 15px;
}
.header nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.header nav a:hover{
    text-decoration: underline;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    text-decoration: underline;
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .header nav {
        margin-left: 0;
        margin-top: 10px;
    }
    .header nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
