.footer{
    background-color: #0a192f;
    color: white;
    padding: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
}
.footer_contents{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    text-align: start;
}
.footer_contents h2{
    margin-bottom: 10px;
}
.footer_contents ul{
    list-style: none;
    padding: 0;
}
.footer_contents ul li{
    margin-bottom: 5px;
}
.footer_contents ul li a{
    color: white;
    text-decoration: none;
}
.footer_contents ul li a:hover{
    text-decoration: underline;
}
.contact-info p, .findus p{
    margin: 5px 0;
}
.tout_droit_reserves{
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #444;
    padding-top: 10px;
}
.tout_droit_reserves a{
    color: white;
    text-decoration: none;
}
.tout_droit_reserves a:hover{
    text-decoration: underline;
}
@media (max-width: 600px) {
    .footer_contents {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}